<div class="modal">
  <!-- <ion-header-bar class="bar bar-header bar-positive"> -->
    <!-- <h1 class="title">New Contact</h1> -->
    <!-- <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button> -->
  <!-- </ion-header-bar> -->
    
    <div class="content card" ng-switch on="option" scroll="false">

      <div class="list" ng-switch-when='bedtype'>
          <ion-radio ng-repeat="option in bedtypeOptions"
                     ng-value="option"
                     ng-model="filter.bedtype"
                     >
            {{ option }}
          </ion-radio>

      </div>    


      <div ng-switch-when="number">

        <div class="item range">

          <i class="icon ion-volume-low"></i>
          <input type="range" ng-model="filter.number" min="1" max="10">
          <i class="icon ion-volume-high"></i>
          
          &nbsp;&nbsp;
          <button class="button button-outline button-dark icon-right ion-checkmark" ng-click="closeModal()">{{filter.number}}</button>          

        </div>
 
      </div>

      <div ng-switch-when="pricemax">

        <div class="item range">

          <i class="icon ion-volume-low"></i>
          <input type="range" ng-model="filter.price.max" min="0" max="500">
          <i class="icon ion-volume-high"></i>
          
          &nbsp;&nbsp;
          <button class="button button-outline button-dark icon-right ion-checkmark" ng-click="closeModal()">{{filter.price.max}}</button>          

        </div>
 
      </div>


      <div ng-switch-when="radius">

        <div class="item range">

          <i class="icon ion-volume-low"></i>
          <input type="range" ng-model="filter.radius" min="0" max="50">
          <i class="icon ion-volume-high"></i>
          
          &nbsp;&nbsp;
          <button class="button button-outline button-dark icon-right ion-checkmark" ng-click="closeModal()">{{filter.radius}}</button>          

        </div>
 
      </div>
    </div>

</div>
