
<ion-view title="{{offer.desc}}">
  <ion-content >
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{hotel.photo}}">
        <h2>{{offer.desc}}</h2>
        <p>{{hotel.name}}</p>
      </div>

      <div class="item item-body">

        <img class="full-image" src="{{offer.photos[0]}}">

        <!-- <span ca="detail-time-left">Expires in 10 mins</span> -->
        <div id="detail-price-container">
          <h1 id="detail-price">{{offer.price}} €</h1><h2 id="detail-discount">({{offer.discount}})</h2>
        </div>
        
        <h2>Time left: {{offer.deadline | timeDiff : t | date : 'hh:mm:ss'}}</h2>
       
      </div>

        <div class="item">
          <p><span ng-repeat="note in notes">{{note}}<br/></span></p>
          <p> <!-- placeholder -->
            <!-- <a href="#" class="subdued">{{randomNumber()}} Like</a> -->
            <!-- <a href="#" class="subdued">{{randomNumber()}} Reviews</a> -->
          </p>
        </div>  
      <div class="item">
      <a ng-if="offer.contactTel" class="button button-block button-positive"><i class="icon ion-ios7-telephone"></i>&nbsp;&nbsp;{{offer.contactTel}}</a>
      <a ng-if="offer.contactEmail" class="button button-block button-positive"><i class="icon ion-ios7-email"></i>&nbsp;&nbsp;{{offer.contactEmail}}</a>
      </div>

     <!--  <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div> -->

    </div>
  </ion-content>
</ion-view>
