<ion-view title="Promos">

  <ion-nav-buttons side="right">
    <a class="button button-icon ion-clipboard"></a>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-list>
      <div ng-repeat="(id,hotel) in promos" type="item-text-wrap"> 
        <ion-item ng-repeat="(key,offer) in hotel.offers" type="item-text-wrap" href="#/tab/promo/{{id}}" class="item-thumbnail-left">
          <img ng-src="{{hotel.photo}}">
          <h2>{{offer.desc}}</h2>
          <p>{{hotel.name}}<br/>
          {{offer.discount}}, {{offer.price}} €
          </p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
